.counter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: #222;
}

.counter .control {
  font-size: 8rem;
  color: #888;
  user-select: none;
}

.counter .control:hover {
  color: #222;
  cursor: pointer;
}

.counter .count {
  font-size: 10rem;
  margin: 0 5rem;
}

.counter .sub {
}

.counter .plus {
}
