@tailwind base;

@tailwind components;

@tailwind utilities;

.ggs-1 {
    --ggs: 1;
}
.ggs-1\/2 {
    --ggs: 1.5;
}

.ggs-2 {
    --ggs: 2;
}

.ggs-3 {
    --ggs: 3;
}

.ggs-4 {
    --ggs: 4;
}

.ggs-5 {
    --ggs: 5;
}

.ggs-6 {
    --ggs: 6;
}

.ggs-7 {
    --ggs: 7;
}

.ggs-8 {
    --ggs: 8;
}

.ggs-9 {
    --ggs: 9;
}

.ggs-10 {
    --ggs: 10;
}

/*
 * Transitions
 */

.alert-enter {
    opacity: 0;
    transform: translateX(-100%);
}
.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
    transform: translateX(0%);
}
.alert-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 300ms, transform 300ms;
}

/*
 * Autofill style
 */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    @apply border bg-gray-200 border-primary-500 rounded;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 0px #000 inset;
}
