@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

/*
 * Transitions
 */

.slide-enter {
    transform: translateX(100%);
    opacity: 0;
}

.slide-enter-active {
    transform: translateX(0%);
    transition: opacity 500ms, transform 500ms;
    opacity: 1;
}

.slide-exit {
    transform: translateX(0%);
    opacity: 1;
}

.slide-exit-active {
    transform: translateX(-100%);
    transition: opacity 500ms, transform 500ms;
    opacity: 0;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    transition: opacity 1000ms;
    opacity: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    transition: opacity 1000ms;
    opacity: 0;
}

/*
 * Autofill style
 */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    @apply border bg-gray-200 border-gray-500 rounded;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 0px #000 inset;
}
